{% extends 'base.html' %}
{% block content %}

  <h1>{{profile.name}}</h1>

  {% if user.id == profile.user.id %}
  <a href="{% url 'edit_profile' user.id %}" class="btn-small">Edit</a>
  <a href="{% url 'travelpost_new' 0 %}" class="btn">New Post</a>
  {% endif %}
  
  <hr />
  {% if profile.image %}
  <img class = "profile-pic" src="/images/{{profile.image}}">
  {% endif %}
<h2>{{profile.city}}</h2>
<h2>{{profile.join_date}}</h2>


  {% comment %} <ul>
    {% for post in travelposts %}
    <a href="{% url 'travelpost_show' post.id %}" class="btn">{{ post.title }}</a>
    <hr />
    {% endfor %}
  </ul>
  <ul>
    {% for post in travelposts %}

    <p>{{ profile.name }} has {{ travelposts.count }} 
    {% if travelposts.count == 1 %}
      post 
    {% else %}
      posts 
    {% endif %}
    for the city of <span><a href="{% url 'show_city' city_id %}" class="btn">{{ post.city.name }}</a></span></p>
    <hr />
    {% endfor %}
  </ul> {% endcomment %}

  {% comment %} 
  <ul>
    {% for post in travelposts %}
    <a href="{% url 'travelpost_show' post.id %}" class="btn">{{ post.title }}</a>
    <hr />
    {% endfor %}
  </ul>
  <ul>
    {% for city in cities %}
      {% for post in travelposts %}
        {% if post.city_id == city.id %}
          {{ postnumber++ }}
        {% endif %}
      {% endfor %}
      <p>{{ profile.name }} has {{ postnumber }} 
      {% if postnumber == 1 %}
        post 
      {% else %}
        posts 
      {% endif %}
      for the city of <span><a href="{% url 'show_city' city.id %}" class="btn">{{ city.name }}</a></span></p>
      <hr />
    {% endfor %}
  </ul> {% endcomment %}

{% endblock %}