@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
    
	font-weight: normal;
  font-style: normal;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.title {
  margin: 5px;
  padding: 5px;
  position: relative;
}

header img {
  height: 80px;
  margin-top: 50px;
  margin-left: 30px;
}

body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #2c2c2b;
  font-size: 0.9em;
  font-weight: 300;
  background: #094275;
  display: flex;
  max-width: 100vw;
  margin-top: 50px;
  padding: 30px;
}

header {
  background-image: url('https://i.picsum.photos/id/1056/3988/2720.jpg?hmac=qX6hO_75zxeYI7C-1TOspJ0_bRDbYInBwYeoy_z_h08');
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  align-items: center;
	box-shadow: 0 0 25px 0 black;
	z-index: 1;
}


a {
	color: #DC7364;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 2px;
  padding: 10 5px;
  margin: 5px;
	text-transform: uppercase;
  font-size: 80%;
  position: relative;
  top: 5px;
  left: 15px;
}

a:hover {
  color: lightskyblue
}

.auth-form {
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"]{
  background-color: rgba(17, 16, 16, 0.4);
  color: #F0D5C0;
  width: 120px;
  
}

.navbar {
	max-height: 60px;
	width: 100%;
	display: flex;
	overflow: hidden;
	justify-content: flex-end;
	padding-right: 40px;
}

.nav-button {
  margin: 15px;
	text-decoration: none;
	float: right;
}

.logo {
	max-width: 300px;
	margin: 0 auto;
}

.icon {
	max-width: 35px;
	border-radius: 50px;
	max-height: 35px;
	margin: 0;
	margin-left: 15px;
}

.profile-pic {
  max-width: 300px;
  max-height: 300px;
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 black;;
}

.container {
	display: block;
  justify-content: center;
  align-items: center;
  margin: 5px 10px;
  padding: 5px;
  max-width: 33%;
	height: 100%;
	margin: auto;
}

.form-fields {
	/* background: orange;
	border-radius: 50%; */
}



h1, h4 {
	font-weight: bold;
	color: #DC7364;
	text-decoration: none;
}

p {
	font-size: 16px;
	font-weight: bold;
	color: #F0D5C0;
}

/* ERROR MESSAGE */
.red-text {
	color: rgb(172, 16, 16);
	text-decoration: none;
}

