@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.title {
  margin: 5px;
  padding: 5px;
  position: relative;
}
header img {
  height: 80px;
  margin-top: 50px;
  margin-left: 30px;
}
body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #2C2C2B;
  font-size: 0.9em;
  font-weight: 300;
  background: #094275;
  display: flex;
  max-width: 100vw;
  margin-top: 50px;
  padding: 30px;
}
header {
  background-image: url('https://i.picsum.photos/id/1056/3988/2720.jpg?hmac=qX6hO_75zxeYI7C-1TOspJ0_bRDbYInBwYeoy_z_h08');
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
  z-index: 1;
}
a {
  color: #DC7364;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10 5px;
  margin: 5px;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  top: 5px;
}
a:hover {
  color: lightskyblue
}
.auth-form {
  margin: 5px;
  display: flex;
  flex-direction: column;
}
.button, button, input[type="submit"], input[type="reset"], input[type="button"]{
  background-color: rgba(17, 16, 16, 0.4);
  color: #F0D5C0;
  width: 140px;
}
.navbar {
  max-height: 60px;
  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: flex-end;
  padding-right: 40px;
}
.nav-button {
  margin: 15px;
  text-decoration: none;
  float: right;
}
img {
  max-width: 300px;
  max-height: 300px;
  display: inline-block;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 black;
}
.logo {
  max-width: 300px;
  margin: 0 auto;
  box-shadow: none;
}
.icon {
  max-width: 35px;
  border-radius: 50px;
  max-height: 35px;
  margin: 0;
  margin-left: 15px;
}
.container {
  display: flex;
  justify-content: center;
  margin: 5px 10px;
  padding: 5px;
  max-width: 60%;
  height: 100%;
  margin: auto;
}
.post-page {
  /* display: inline-block; */
  /* justify-content: center; */
}
h1 {
  color: #F0D5C0;
  text-decoration: none;
}
h3, h4, h5 {
  color: #F0D5C0;
  text-decoration: none;
}
h6 {
  color: #DC7364;
}
p {
  font-size: 16px;
  font-weight: bold;
  color: #DC7364;
}
.link {
  font-size: 18px;
  color: #F0D5C0;
}
.link:hover {
  color: #DC7364;
  cursor: pointer;
}
/* ERROR MESSAGE */
.errorlist {
  color: rgb(172, 16, 16);
  background: #F0D5C0;
  font-size: 16px;
  text-decoration: none;
  padding: 3px;
  border-radius: 8px;
}