{% extends 'base.html' %} 
{% block content %}
<div class="post-page">
  <h4>{{ travelpost.title }}</h4>
  <a href="{% url 'show_city' travelpost.city_id %}"><h5><i class="fas fa-map-marker-alt"></i> {{ travelpost.city }}</h5></a>
  <a href="{% url 'profile' travelpost.author.user_id %}"><h5><i class="far fa-user"></i> {{ travelpost.author }}</h5></a>
  <h5>{{ travelpost.date }}</h5>
    <h5 style="display:inline">{{ travelpost.likes }}</h5> 
    {% if liked %}
    <a href="{% url 'like' travelpost.id %}"><i class="fas fa-heart"></i></a>
    {% else %}
      <a href="{% url 'like' travelpost.id %}"><i class="far fa-heart"></i></a>
    {% endif %}
    <hr />
    {% if travelpost.image %}
    <img src="/images/{{travelpost.image}}">
    {% endif %}
    <p>{{ travelpost.body }}</p>
    {% if user.id == travelpost.author.user_id %}
      <a class="button" href="{% url 'travelpost_edit' travelpost.id %}">Edit Post</a>
      <a class="button" href="{% url 'travelpost_delete' travelpost.id %}" onclick="return confirm('Are you sure you want to delete post?');">Delete Post</a>
    {% endif %}
    {% endblock %}
</div>
