{% extends 'base.html' %}

{% block content %}
  <h1>{{ travelpost.title }}</h1>
  <a href="{% url 'show_city' travelpost.city_id %}"><h3>{{ travelpost.city }}</h3></a>
  <a href="{% url 'profile' travelpost.author.user_id %}"><h4>{{ travelpost.author }}</h4></a>
  <h5>{{ travelpost.date }}</h5>
  <hr />
  <img src="{{ travelpost.image }}" alt="">
  <p>{{ travelpost.likes }}</p>
  <p>{{ travelpost.body }}</p>
  {% if user.id == profile.user.id %}
    <a class="button" href="{% url 'travelpost_edit' travelpost.id %}">Edit Post</a>
    <a class="button" href="{% url 'travelpost_delete' travelpost.id %}" onclick="return confirm('Are you sure you want to delete post?');">Delete Post</a>
  {% endif %}
{% endblock %}
